<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>dashboard</title>
       <link href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    </head>
    <body>
      <div class="container-fluid">
        <div class="page-header">
          <h1>dashboard</h1>
        </div> <!-- /.page-header -->
        <div class="row">
            <div class="col-md-3 col-md-offset-3">
            <div class="panel panel-danger">
            <div class="panel-heading">
                <h1 class="text-center">{{number_completed}} completed</h1>
            </div> <!-- /.panel-heading -->
            </div> <!-- /.panel -->
            </div> <!-- /.col-md-3 -->
            <div class="col-md-3">
            <div class="panel panel-primary">
            <div class="panel-heading">
                <h1  class="text-center">{{number_thismonth}} items this month</h1>
            </div> <!-- /.panel-heading -->
            </div> <!-- /.panel -->
            </div> <!-- /.col-md-3 -->
        </div> <!-- /.row -->

      </div> <!-- /.container-fluid -->
    </body>
</head>
