<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>dashboard</title>
       <link href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    </head>
    <body>
      <div class="container-fluid">
        <div class="page-header">
          <h1>dashboard ({{query_time}})</h1>
        </div> <!-- /.page-header -->
        <div class="row">
            <div class="col-md-3 col-md-offset-3">
            <div class="panel panel-danger">
            <div class="panel-heading">
                <h1 class="text-center">{{number_completed}} completed</h1>
            </div> <!-- /.panel-heading -->
            </div> <!-- /.panel -->
            </div> <!-- /.col-md-3 -->
            <div class="col-md-3">
            <div class="panel panel-primary">
            <div class="panel-heading">
                <h1  class="text-center">{{number_thismonth}} items</h1>
            </div> <!-- /.panel-heading -->
            </div> <!-- /.panel -->
            </div> <!-- /.col-md-3 -->
        </div> <!-- /.row -->
        <div class="row">
            <div class="col-md-12">
                <div id="chart"></div>
            </div> <!-- /.col-md-12 -->
        </div> <!-- /.row -->
        <div class="row">
            <div class="col-md-6">
            <div class="panel panel-success">
            <div class="panel-heading">done list</div>
            <div class="panel-body">
                {% for di,items in done.items %}
                    <b>{{di}}</b>
                    <ul>
                    {% for it in items %}
                        <li>{{it.0|date:'Ymd'}} : {{it.1}}</li>
                        {% if it.2 %}
                        <ul>
                        {% for ci in it.2 %}
                            <li>{{ci.1}}
                        {% endfor %}
                        </ul>
                        {% endif %}
                    {% endfor %}
                    </ul>
                {% endfor %}
            </div> <!-- /.panel-body -->
            </div> <!-- /.panel -->
            </div> <!-- /.col-md-6 -->
            <div class="col-md-6">
            <div class="panel panel-success">
            <div class="panel-heading">this month</div>
            <div class="panel-body">
                <ol>
                {% for m in thismonth %}
                    {% if m.3 %}
                    <li style="color:red"><strike>{{m.0|date:"Y-m-d H:i:s"}}: <b>{{m.1}}</b> {{m.2}}</strike></li>
                    {% else %}
                    <li style="color:green">{{m.0|date:"Y-m-d H:i:s"}}: <b>{{m.1}}</b> {{m.2}}</li>
                    {% endif %}
                {% endfor %}
                </ol>
            </div> <!-- /.panel-body -->
            </div> <!-- /.panel -->
            </div> <!-- /.col-md-6 -->
        </div> <!-- /.row -->
      </div> <!-- /.container-fluid -->
      <!-- javascript loads at the end -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.
min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstra
p.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"
charset="utf-8"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.js"
></script>
      <script type="text/javascript">
var today = new Date();
var dd = today.getDate();
var mm = today.getMonth()+1;
var yyyy = today.getFullYear();
if (dd<10){
    dd='0'+dd;
}
if (mm<10){
    mm='0'+mm;
}
var today = yyyy+'-'+mm+'-'+dd;

var chart = c3.generate({
    bindto: '#chart',
    data: {
        x: 'x',
        columns: [
            ['x',  {% for li in labels %} {% if not forloop.last %}'{{li}}',{% else %}'{{li}}'{% endif %}{% endfor %}],
            ['tasks done', {% for hi in done_hist %} {% if not forloop.last %}{{hi}},{% else %}{{hi}}{% endif %}{% endfor %}],
           ['tasks left', {% for gi in actual_bdown %} {% if not forloop.last %}{{gi}},{% else %}{{gi}}{% endif %}{% endfor %}],
           ['ideal tasks', {% for gi in ideal_bdown %} {% if not forloop.last %}{{gi}},{% else %}{{gi}}{% endif %}{% endfor %}]
        ],
        types: {
            'tasks done': 'bar'
        },
    },
    axis: {
        'x': {
            type: 'timeseries',
            tick: {
                format: '%Y-%m-%d'
            }
        }
    },
    grid: {
        'x': {
            lines: [
                {value: today, text: 'today'}
            ]
        }
    }
});

      </script>
    </body>
</head>
